<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForsythFamilyPurchasingAndRequisition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ForsythFamilyPurchasingAndRequisition.Properties.Settings.MedSystemConnectionString"
            connectionString="Data Source=krservertest22322.database.windows.net;Initial Catalog=MedSystem;User ID=sqladmin;Password=Password01!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ForsythFamilyPurchasingAndRequisition.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SessionLocationID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sessionPer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserID" serializeAs="String">
                <value>0</value>
            </setting>
        </ForsythFamilyPurchasingAndRequisition.Properties.Settings>
    </userSettings>
</configuration>
